body {
  font-family: "quiche-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(imgs/20405463.jpg);
  background-repeat: no repeat;
  background-position: fixed;
  background-size: cover;
}

.btn-primary {
  background-color: black;
}

.btn-primary:hover {
  background-color: rgb(109, 100, 100);
}

.btn-danger {
  background-color: rgba(231, 44, 44, 0.781);
}

.btn-danger:hover {
  background-color: yellowgreen;
}

h1 {
  background: white;
}
