html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  font-family: "quiche-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
}

body {
  background-image: url(imgs/20405463.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

#taskCount {
  color: white;
  font-size: 40px;
}

#checkTask {
  color: rgb(39, 180, 39);
}

.btn-primary:hover {
  background-color: silver;
  border-color: silver;
}

.btn-danger {
  background-color: rgba(56, 44, 231, 0.781);
  border-color: rgba(56, 44, 231, 0.781);
}

.btn-danger:hover {
  background-color: rgb(9, 216, 243);
  border-color: rgb(9, 216, 243);
}

/*text-decoration: line-through*/
.strikethru {
  text-decoration: line-through;
}

img {
  border-radius: 50%;
}
