html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  font-family: "quiche-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(imgs/20405463.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-primary {
  background-color: black;
}

#taskCount {
  color: white;
  font-size: 40px;
}

.btn-primary:hover {
  background-color: rgb(109, 100, 100);
}

.btn-danger {
  background-color: rgba(56, 44, 231, 0.781);
}

.btn-danger:hover {
  background-color: rgb(9, 216, 243);
}

h1 {
  background: white;
}

/*text-decoration: line-through*/
.strikethru {
  text-decoration: line-through;
}
